* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #222;
    color: #fff;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Adicione este estilo em seu arquivo de estilo CSS */
footer {
    text-align: center;
    font-size: 8px;
    /* Tamanho da fonte menor */
    margin-top: 10px;
    /* Espaço superior para separar do conteúdo principal */
}


h1 {
    text-align: center;
    color: #4caf50;
    font-size: 28px;
    /* Tamanho da fonte ajustável conforme necessário */
    margin: 20px 0;
    /* Espaçamento superior e inferior */
    text-transform: uppercase;
    /* Transforma o texto em maiúsculas */
    letter-spacing: 2px;
    /* Espaçamento entre letras */
    font-weight: bold;
    /* Define o peso da fonte como negrito */
    -webkit-text-stroke: 2px #000;
    /* Largura e cor da borda */
}


.row::after {
    content: "";
    clear: both;
    display: table;
}

.col {
    float: left;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 10px;
}

@media only screen and (min-width: 600px) {
    .col {
        float: left;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 0 10px;
        border-radius: 5px;
        border: 1px solid #444;
    }
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 10px;
}

.input-container label {
    margin-bottom: 5px;
    color: #e2e2e2;
    font-weight: bold;
}

.input-container input[type="text"],

.button-container button {

    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #444;
    font-size: 16px;
    color: #00ff73;
    transition: background-color 0.3s;
}

.input-container input[type="text"]:focus,
.button-container button:focus {
    background-color: #555;
    outline: none;
}

.button-container button {
    background-color: #4caf50;
    color: #3d3d3d;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    transition: box-shadow 0.3s;
}

.button-container button:hover {
    background-color: #89e963;
    box-shadow: 0 0 10px #7ebb0d;
    font-weight: bold;
}